:root {
    --primary: black;
    --secondary:  #ffc107;
    --neutral: #ced4da;
}

.btn {
    color: white;
    background-color: var(--primary);
    border-color: var(--neutral);
    margin-top: 5%;
    width: 100%;
}

.btn:hover {
    background-color: var(--neutral);
    color: var(--primary);
    border-color: var(--secondary);
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
    color: var(--secondary);
    text-align: left;
    padding: 10px;
}

h4 {
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}

.forecast {
    width: 160px;
}

.date {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

#city-date {
    font-size: 20px;
    color: var(--primary);
    font-style: italic;
    text-align: center;
}

#city-forecast {
    border: solid 3px var(--neutral);
    border-radius: 10px;
    height: 300px;
    padding: 20px;
    text-align: center;
}

#five-day-forecast {
    border: solid 3px var(--secondary);
    border-radius: 10px;
}

.five-day-forecast {
    justify-content: space-evenly;
}

#today {
    text-align: center;
    margin-right: 5px;
    background-color: var(--neutral);
    border-radius: 10px;
    height: 250px;
    font-weight: bold;
}

#tomorrow {
    text-align: center;
    margin-right: 5px;
    background-color: var(--neutral);
    border-radius: 10px;
    height: 250px;
    font-weight: bold;
}

#next-day {
    text-align: center;
    margin-right: 5px;
    background-color: var(--neutral);
    border-radius: 10px;
    height: 250px;
    font-weight: bold;
}

#fourth-day {
    text-align: center;
    margin-right: 5px;
    background-color: var(--neutral);
    border-radius: 10px;
    height: 250px;
    font-weight: bold;
}

#fifth-day {
    text-align: center;
    margin-right: 5px;
    background-color: var(--neutral);
    border-radius: 10px;
    height: 250px;
    font-weight: bold;
}